<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
  <add name="AromasDatabaseEntities" connectionString="metadata=res://*/AromasDatabase.csdl|res://*/AromasDatabase.ssdl|res://*/AromasDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AROMASDATABASE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>